.contenedor {
	margin: 0 10%;
}


@media only screen and (max-width: 800px) {
	.contenedor {
		margin: 0 ;
	}
}

.contenedor > .major{
	margin-top: 30px;
   	text-align: center;
}
.card-container{
    text-align: start;
    margin: 20px;
	width: 330px;
	height: 450px;
	background: #FFF;
	border-radius: 6px;
	position: relative;
	box-shadow: 0px 1px 10px 1px #000;
	overflow: hidden;
	display: inline-block;
}
.upper-container{
	height: 150px;
}
.upper-container > img{
	height: 150px;
	width: 330px;
	position:absolute; 
	z-index:0;
	object-fit: cover;
	object-position: center center;
}

.image-container{
	background: white;
	width: 110px;
	height: 110px;
	border-radius: 50%;
	padding: 5px;
	transform: translate(100px,70px);
}
.image-container img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.lower-container{
	height: 280px;
	background: #FFF;
	padding: 20px;
	padding-top: 40px;
}
.lower-container h3, h4{
	box-sizing: border-box;
	font-weight: lighter;
}
.lower-container h4{
    text-align: center;
	color: #2fd3ae;
	font-weight: bold;
}
.lower-container p{
	font-size: 16px;
	color: black;
	margin-bottom: 30px;
}

