*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .testimonial-section{
    background: linear-gradient(#10d3ac, #05725c);
    padding: 80px 0;
    text-align: center;
  }
  
  .inner-width{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  }
  
  .testimonial-section h1{
    font-weight: 400;
    letter-spacing: 10px;
    text-transform: uppercase;
  }
  
  .testimonial-pics{
    padding: 40px 0;
    
  }
  
  .testimonial-pics img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 20px;
    filter: grayscale(100%);
    transition: .3s;
    cursor: pointer;
  }
  
  .testimonial-pics img:hover, .testimonial-pics img.active{
    width: 85px;
    height: 85px;
    filter: none;
  }
  
  
  .testimonial-contents{
    max-width: 1000px;
    margin: auto;
  }
  
  .testimonial{
    display: none;
  }
  
  .testimonial.active{
    display: block;
  }
  
  .testimonial p{
    text-transform: uppercase;
    color: white;
    margin-bottom: 20px;
  }
  
  .testimonial .description{
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 15px;
  }
  
  .client {
    border-radius: 15px;
    background-color: rgba(161, 155, 155, .2) ;
    padding: 26px 10px 0px 10px;
    display: inline-flex;
    margin-left: 2%;
    width: 200px;
    height: 150px;
    position: relative;
    margin-bottom: 30px;
  }

  .partner-section {
    background-image: url(../../images/partners/fondo-parters.png);
    background-repeat: no-repeat;
    /* background: linear-gradient(rgb(184, 41, 58), #90323D) ; */
    padding: 50px 0;
    text-align: center;
  }

  .partner {
    display: inline-flex;
    justify-content: space-around;
    margin-left: 60px;
    width: 200px;
    height: 150px;
    margin-bottom: 30px;
  }

  .partner > img {
    width: 200px !important;
    height: 200px;
  }

  @media only screen and (max-width: 800px) {
    .client, .partner{
      padding: 26px 10px 0px 10px;
      display: flex;
      margin-left: 2%;
      width: 200px;
      height: 200px;
      position: relative;
      margin-bottom: 30px;
    }
  }

  @media only screen and (max-width: 600px) {
    .client, .partner{
      padding: 26px 10px 0px 10px;
      display: flex;
      margin-left: 2%;
      width: 200px;
      height: 200px;
      position: relative;
      margin-bottom: 30px;
      margin-left: 27%;
    }
    .partner-section {
      border-radius: 10px;
      background-repeat: no-repeat;
      background: linear-gradient(rgb(184, 41, 58), #90323D) ; 
      padding: 50px 0;
      text-align: center;
    }

    .testimonial-section {
      border-radius: 10px;
    }
  }
